{% extends "base.html" %}
{% block title %} Products
    
{% endblock title %}

{% block blogactive %} active
    
{% endblock blogactive %}

{% block Description %}Dupolx est une société internationale de produits basée au Maroc, qui propose des services d'achat de produits. Contact ...{% endblock Description %}


{% block Keywords %}Dupolx, Produits, Acheter, Produits, Etc..{% endblock Keywords %}

{% block body %}

  <body>
{% load static %}


    

    <section style="margin-top: 0;" class="featured-places " id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span>Produits populaires</span>
                        <h2>Voici tous les produits à acheter</h2>
                    </div>
                </div> 
            </div> 
            <div class="row">

                {% for post in allPost1 %}
                    
                
                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top:20px;">
                    <div class="featured-item">
                        <div class="thumb">
                            <img src="{{post.imglink}}" alt="{{post.title}}" width="360" height="287">
                            <div class="overlay-content">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                           <div class="date-content">
                                <h6>Prix</h6>
                                <h5> {{post.price}} DH </h5>
                                
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>{{post.title}}</h4>
                            <span>Date : {{post.time}}</span>
                            
                            <p>{{post.content | safe | truncatechars:50}}</p>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-button">
                                        <a href="{{post.slug}}">Continuer le shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
{% endfor %}

            </div>
        </div>
    </section>


</body>

{% endblock body %}
